@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Mulish", sans-serif;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-info{
    display: flex;
}
.nav-info li{
    list-style: none;
    margin-right: 30px;
    font-size: 1.25rem;
    font-weight: 500;
    
}

.nav-info li a{
    text-decoration: none;
    color: #424242;
}

/* Background Image */

.header-image{
    background-image: url(../Images/Group13.png);
    width: 1170px;
    height: 500px;
    background-position: center;
    display: block;
    margin:0 auto;
    border-radius: 16px;
    margin-top: 10px;
}

.header-title{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    padding-top: 85px;
    margin-bottom: 0;
    
}

.header-description{

    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px; 
    margin-top: 10px;
    
  
}

.header-selection{
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
    width: 65%;
    gap: 24px;
    text-align: center;
    display: block;
    margin:0 auto;
    border-radius: 8px;
    margin-top: 30px;
   
}

.header-option{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    text-align: center;
    border: 0;
}
.header-button{
    width: 174px;
    height: 52px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    border: 0;

}
.option-text{
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}

/* popular tour section style */

.popular-tour{
    margin-top: 80px;
    display: flex;
    gap: 53px;

}

.popular-tour-text{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 150px; 

}

.popular-tour-title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-top: 10px;
    padding-left: 150px; 
   
}
.popular-tour-image{
    width: 540px;
    height: 550px;
    border-radius: 16px;
    padding-right: 160px;
}

.popular-tour-button{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    margin-top: 20px;
    
}
/* Choose your destination */
.destination-title{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 70px;
}

.destination-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.maldivies-indonesia{
    
    padding-left: 155px;
    display: flex;
    gap: 24px;
    margin-top: 30px;
}
.maldivies{
    width: 573px;
    height: 300px;
    border-radius: 16px;

  
}
.indonesia{
    width: 573px;
    height: 300px;
    border-radius: 16px;

}

.threepic-collage{
    padding-left: 155px;
    display: flex;
    gap: 24px;
    margin-top: 24px;
    
    
    

}
.srilanka{
    width: 374px;
    height: 286px;
    border-radius: 16px;
    
   
}

.north-america{
    width: 474px;
    height: 286px;
    border-radius: 16px;
   
   
}

.kashmir{
    width: 274px;
    height: 286px;
    border-radius: 16px;
   
}

.twopic-collage{
    padding-left: 155px;
    display: flex;
    gap: 24px;
    margin-top: 24px;
}

.bangladesh{
    width: 473px;
    height: 300px;
}
.bandarban{
    width: 673px;
    height: 300px;
}

/* choose section */
.header-choose{
    color: #131318;
   text-align: center;
   font-size: 40px;
   font-weight: 800;
   margin-top: 100px;
}

.choose-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.hotel-section{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 573px;
    height: 284px;
    
    

}
.hotel-icon img{
    width: 64px;
    height: 64px;
    margin-top: 32px;
    padding-left: 32px;
}
.hotel-title{
   color: #131318;
   font-size: 24px;
   font-weight: 800;
   padding-left: 32px;
}

.hotel-description{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    padding-left: 32px;
}

.map-section{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 573px;
    height: 284px;
    
}

.map-icon img{
    width: 64px;
    height: 64px;
    margin-top: 32px;
    padding-left: 32px;
}
.map-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-left: 32px;
 }
 
 .map-description{
     color: #5A5A5D;
     font-size: 16px;
     font-weight: 400;
     line-height: 26px; 
     padding-left: 32px;
 }

.hotel-map-section{
    display: flex;
    margin-top: 80px;
    padding-left: 150px;
    gap: 24px;
    
    
   

}

.price-section{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-top: 24px;
    width: 573px;
    height: 284px;
    margin-left: 450px;
   
}
.price-icon img{
    width: 64px;
    height: 64px;
    margin-top: 32px;
    padding-left: 32px;
}
.price-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-left: 32px;
 }
 
 .price-description{
     color: #5A5A5D;
     font-size: 16px;
     font-weight: 400;
     line-height: 26px; 
     padding-left: 32px;
 }

 /* Newsletter */

 .login-form{
    display: flex;
    flex-direction: column;
    border: 1px solid #FF5400;
    width: 474px;
    height: 422px;
    border-radius: 16px;
    margin-top: 70px;

    
 }

 .login-form input{
    margin-top: 20px;
    width: 393px;
    height: 52px;
    border-radius: 8px;
    border: 0;
    margin-left: 20px;
    background: rgba(19, 19, 24, 0.05);
 }

 .form-button{
    width: 393px;
    height: 52px;
    margin-top: 20px;
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    margin-left: 20px;
 }

 .form-image-section{
    display: flex;
    gap: 24px;
    margin-left: 150px;
 }

 .form-image{
    margin-top: 70px;
    width: 672px;
    height: 422px;

 }

 .form-header{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-left: 20px;
 }

 .form-description{
    color: #5A5A5D;
    font-size: 16px;
    line-height: 26px;
    margin-left: 20px;
   
 }

/*  responsive media queries */
@media screen and (max-width:600px) {

    .popular-tour-title{
        font-size: 20px;
        padding: 0;
    }

    .popular-tour-text{
        padding: 0;
        font-size: 14px;
        line-height: 24px;
    }

    .popular-tour{
        flex-direction: column;

    }
    .popular-tour-image{
        
        
        height: auto;
    }

    /* .image-collage{
        flex-direction: column;
    } */

    .destination-title{
        margin-top: 20px;
        text-align: center;
        font-size: 20px;
    }
    .destination-description{

        text-align: center;
        font-size: 14px;
    }

     .maldivies-indonesia, .threepic-collage, .twopic-collage{
        
        flex-direction: column;
        height: auto;
        padding: 0;


    }
    .choose-section, .hotel-map-section, .hotel-section, .map-section, .price-section{
        flex-direction: column;
    }
    .hotel-section{
        padding: 0;
        height: auto;
    }
    .map-section{
        padding: 0;
        height: auto;
    }
    .price-section{
        padding: 0;
        height: auto;
        margin-left: 150px;

    }
}
